.navigation {
    //display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    color: #0150af;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(223,223,223,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(223,223,223,1);
    box-shadow: 0px 0px 7px 1px rgba(223,223,223,1);
    float: left;
    .left-nav {
        width: 50%;
        float: left;
        ul {
            display: flex;
            list-style-type: none;
            li {
                padding: 20px;
                cursor: pointer;
                span {
                    background-color: #f8f9fa;
                    padding-left: 5px;
                    padding-right: 5px;
                    border: 1px solid #f8f9fa;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }
    }
    .right-nav {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        ul {
            list-style-type: none;
            li {
                padding: 20px;
                cursor: pointer;
                span {
                    background-color: #f8f9fa;
                    padding-left: 5px;
                    padding-right: 5px;
                    border: 1px solid #f8f9fa;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }
    }
}